* {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 1200px) {
.groter-logo {
    color:white;
    font-size: 2em;
    position: relative;
    bottom: 2rem;
    left:2rem
    
}
.logo {
    background-color: red;
    height:3rem
}
body {
    background-color: red;
}

.text2 {
    background-color: yellow;
height: 13rem;
}
.text2real {
    position: relative;
    left:2rem;
    
}
.text3 {
    background-color: orange;
height: 13rem;
}
.text3real {
    position: relative;
    left:2rem;
    
}
.text4 {
    background-color: green;
height: 15rem;
}
.text4real {
    position: relative;
    left:2rem;
    
}
}



@media only screen and (max-width: 600px) {

    .groter-logo {
        color:white;
        font-size: 2em;
        position: relative;
        bottom: 2rem;
        left:2rem;
        height: 3rem;
        
    }
    .logo {
        background-color: blue;
        height:3rem
    }
    body {
        background-color: blue;
      
    }
    
    .text2 {
        background-color: cyan;
    height: 13rem;
    
    }
    .text2real {
        position: relative;
        left:13rem;
        color: white;
        
       
        
    }
    .text3 {
        background-color: violet;
    height: 13rem;
    }
    .text3real {
        position: relative;
        left:13rem;
        color: white;
        
    }
    .text4 {
        background-color: indigo;
    height: 13rem;
    }
    .text4real {
        position: relative;
        left:13rem;
        color: white;
        
    }
    

}



   
@media only screen and (max-width: 1200px) and (min-width: 600px) {

    .groter-logo {
        color:white;
        font-size: 2em;
        position: relative;
        bottom: 2rem;
        left:2rem;
        height: 3rem;
        text-align: center;
        
    }
    .logo {
        background-color: pink;
        height:3rem
    }
    body {
        background-color: pink;
      
    }
    
    .text2 {
        background-color: rgb(255, 103, 128);
    height: 13rem;
    
    }
    .text2real {
        position: relative;
        
        color: white;
        
       
        
    }
    .text3 {
        background-color: rgb(67, 67, 255);
    height: 13rem;
    }
    .text3real {
        position: relative;
        
        color: white;
        
    }
    .text4 {
        background-color: blue;
    height: 13rem;
    }
    .text4real {
        position: relative;
        
        color: white;
        
    }
    
}
   
   



